<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<script src="../static/jquery-3.7.1.min.js" ></script>
		<script src="../static/jslib.js" ></script>
		<script src="../static/index.js" ></script>
		<link rel="stylesheet" type="text/css" href="../static/index.css">
	</head>
	<body>
		<div class="foot">
			<div class="panel" id="page00">
				<div class="osContainer">
					<div class="osPic">
						<img src="../static/img/windows.png">
					</div>
					<div class="osInfo">
						<pre>
{{domain}}\{{user}}@{{computername}}
----------------
Uptime: {{uptime}}
IP: {{ip}}
MAC: {{mac}}
CPU: {{cpu}}
GPU: {{gpu}}
Memory: {{memory}}
Disk: {{disk}}
OS: {{os}}
						</pre>
					</div>
				</div>
			</div>

			<div class="panel" id="page01">
				<div class="datetime">
					<div id="datetime_container">
						<div class="datetime_text" id="hours">00</div>
						<div class="datetime_text" id="minutes">00</div>
						<div class="datetime_text" id="seconds">00</div>
					</div>
					<div class="date_text" id="date">2024年3月2日，星期六</div>
				</div>
				<div class="winStatusContainer">
					<div class="statusC" id="CPU">
						<pre>
 CPU   2.29GHz

      50%
    2.11GHz

 60℃
						</pre>
					</div>
					<div class="statusC" id="GPU">
						<pre>
 GPU   2.29GHz

      50%
    2.11GHz

 60℃
						</pre>
					</div>
					<div class="statusC" id="NET">
						<pre>
 NET

   SEND:128M

   RECV:222M

						</pre>
					</div>
					<div class="statusC" id="MEM">
						<pre>
 MEM   1600MHz

      50%
    10G/16G


						</pre>
					</div>
					<div class="statusC" id="DISK">
						<pre>
SWAP:
    9.3G / 15.7G,59.4%

MOUNT:
    C:\\: 128G / 167G 77.1% , NTFS
    D:\\: 128G / 167G 77.1% , NTFS
						</pre>
					</div>

				</div>
				<div class="weather">
					<div class="cur_weather">
						<div id="daysCurr_img"><img src="https://weather.cma.cn/static/img/w/icon/w7.png"></div>
						<div id="currTemperature">0℃</div>
						<div id="precipitation">降水<br><br>0mm</div>
						<div id="wind">0风<br><br>0级</div>
					</div>
					<div class="days_weatherC">
						<div class="days_weather" >
							<div class="days_range" id="days00_range">20℃/18℃</div>
							<div id="days00_img"><img src="https://weather.cma.cn/static/img/w/icon/w7.png"></div>
							<div id="days00_desc">多云转晴</div>
							<div id="days00_date">03/07</div>
						</div>
						<div class="days_weather">
							<div class="days_range" id="days01_range">20℃/18℃</div>
							<div id="days01_img"><img src="https://weather.cma.cn/static/img/w/icon/w7.png"></div>
							<div id="days01_desc">多云</div>
							<div id="days01_date">03/07</div>
						</div>
						<div class="days_weather">
							<div class="days_range" id="days02_range">20℃/18℃</div>
							<div id="days02_img"><img src="https://weather.cma.cn/static/img/w/icon/w7.png"></div>
							<div id="days02_desc">多云转晴</div>
							<div id="days02_date">03/07</div>
						</div>
						<div class="days_weather" >
							<div class="days_range" id="days03_range">20℃/18℃</div>
							<div id="days03_img"><img src="https://weather.cma.cn/static/img/w/icon/w7.png"></div>
							<div id="days03_desc">多云转晴</div>
							<div id="days03_date">03/07</div>
						</div>
						<div class="days_weather" >
							<div class="days_range" id="days04_range">20℃/18℃</div>
							<div id="days04_img"><img src="https://weather.cma.cn/static/img/w/icon/w7.png"></div>
							<div id="days04_desc">多云转晴</div>
							<div id="days04_date">03/07</div>
						</div>
						<div class="days_weather" >
							<div class="days_range" id="days05_range">20℃/18℃</div>
							<div id="days05_img"><img src="https://weather.cma.cn/static/img/w/icon/w7.png"></div>
							<div id="days05_desc">多云转晴</div>
							<div id="days05_date">03/07</div>
						</div>
						<div class="days_weather" >
							<div class="days_range" id="days06_range">20℃/18℃</div>
							<div id="days06_img"><img src="https://weather.cma.cn/static/img/w/icon/w7.png"></div>
							<div id="days06_desc">多云转晴</div>
							<div id="days06_date">03/07</div>
						</div>
					</div>

				</div>

			</div>
			<div class="panel" id="page02">
				<div class="control" id="volume_control">
					<div class="c_input">
						<input class="wv_input"  type="range"  min="0" max="100">
						<img src="../static/icon/volume-mute.svg">
					</div>
					<div class="c_button">
						<button>-</button>
						<button>+</button>
					</div>
					<div class="c_select">
						<select>
						</select>
					</div>
				</div>
				<div class="control" id="mic_control">
					<div class="c_input">
						<input class="wv_input"  type="range"  min="0" max="100">
						<img src="../static/icon/microphone-slash.svg">
					</div>
					<div class="c_button">
						<button>-</button>
						<button>+</button>
					</div>
					<div class="c_select">
						<select>
						</select>
					</div>
				</div>
				<div class="control" id="brightness_control">
					<div class="c_input">
						<input class="wv_input"  type="range"  min="0" max="100">
						<img src="../static/icon/brightness-low.svg">
					</div>
					<div class="c_button">
						<button>-</button>
						<button>+</button>
					</div>
					<div class="c_select">
						<select>
						</select>
					</div>
				</div>
				<div class="ctrLock">
					<p>Tap</p>
				</div>
			</div>
			<div class="panel" id="page03">
				<div id="appContainer">
                    {% for appn, appv in appconfig.items() %}
						{% if appv['appIcon'] and appv['appCommand']  %}
							<div class="app" id="{{appn}}" >
	<!--                            <img src="./static/icon/edge.png">-->
								<img src="{{ appv['appIcon'] }}">
							</div>
                    	{% end %}
                    {% end %}
				</div>
			</div>
			<div class="wallpaper">
				<div id="colorClock">
<!--					<canvas id="canvas"></canvas>-->
					<div class="wtime" id="whours"></div>
					<div class="wtime" id="wminutes"></div>
					<div class="wtime" id="wseconds"></div>
					<div id="wdate"></div>
				</div>
			</div>
			<div id="qqMusic">
					<img src="../static/icon/app/qqmusic.png">
					<div id="songCtrContainer">
						<div id="songName"></div>
						<div class="songCtr" id="songCtrPre"><img src="../static/icon/songCtrPre.png"></div>
						<div class="songCtr" id="songCtrPlay"><img src="../static/icon/songCtrPlay.png"></div>
						<div class="songCtr" id="songCtrNext"><img src="../static/icon/songCtrNext.png"></div>
						<div class="songCtr" id="songCtrVoldown"><img src="../static/icon/songCtrVoldown.png"></div>
						<div class="songCtr" id="songCtrVolup"><img src="../static/icon/songCtrVolup.png"></div>
					</div>

			</div>
<!--			<div id="F5"> </div>-->
		</div>

	</body>
	<script>
<!--		var can = document.getElementById('canvas');-->
<!--		can.style.width = "100%";-->
<!--        can.style.height = "100%";-->
<!--        var ctx=can.getContext("2d");-->
<!--        var b = can.width/20;-->
<!--        var num = Math.floor((can.width/b) * (can.height/b))-->
<!--        for (var x=0;x <can.width;x+=b){-->
<!--        	for (var y=0;y <can.height;y+=b){-->
<!--        		ctx.fillStyle='#' + colors[Math.floor(Math.random()*num)];-->
<!--        		ctx.fillRect(x, y,b, b);-->
<!--        	}-->
<!--        }-->
<!--		const image = new Image();-->
<!--		image.src = "/static/img/tmp.jpg";-->
<!--		ctx.drawImage(image,0,0);-->
<!--		ctx.fillText("AAA");-->

	</script>
</html>
